# Python
.mypy_cache/
.ruff_cache/
.venv/
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
